/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');




.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  list-style: none;
  padding: 0;
  margin-right: 156px;
  margin-left: 156px;
}

.gallery-item {
  width: 360px;
}

.gallery-image {
  display: block;
  width: 360px;
  height: 200px;
  object-fit: cover;
}